<a class="twitter-timeline"
    href="https://twitter.com/hashtag/globalbrain"
    data-widget-id="598979609644896256"
    data-chrome="noscrollbar"
    data-border-color="#3b94d9"
    height="400px"
>#globalbrain Tweets
</a>
<script>
    !function(d,s,id){
        var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){
            js=d.createElement(s);
            js.id=id;
            js.src=p+"://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js,fjs);
        }
    }
    (document,"script","twitter-wjs");
</script>
